html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
.title{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgb(255, 255, 255);
}
.title-show{
    width: 20%;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
}
.title-loge{
    width: 60%;
    height: 60px;
    text-align: center;
    float: left;
}
.title-loge img{
    width: 78.66px;
    height: 50px;
}
.title-littleimg{
    width: 20%;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
}
.liimg1{
    width: 20px;
    height: 20px;
}
.liimg2{
    width: 20px;
    height: 20px;
}
.yinc{
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 999;
    display: none;
}
.yinc-1{
    height: 45px;
    width: 128px;
    font-size: 15px;
    color: #90af6b;
    line-height: 47px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #90af6b;
}
.yinc-2{
    height: 45px;
    width: 128px;
    font-size: 15px;
    color: #90af6b;
    line-height: 47px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 130px;
    border: 1px solid #90af6b;
}
.yinc-3{
    width: 258px;
    height: 55px;
    position: absolute;
    top: 47px;
    border: 1px solid #90af6b;
}
.yinc-3-1{
    width: 180px;
    height: 37px;
    position: absolute;
    top: 5px;
    left: 20px;
}
.yinc-3-2{
    width: 30px;
    height: 43px;
    position: absolute;
    top: 5px;
    left: 207px;
    background: #90af6b;
}
.yinc-3-2 img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.yinc-4{
    width: 34px;
    width: 100%;
    font-size: 15px;
    color: #90af6b;
    text-align: center;
    line-height: 34px;
    position: absolute;
    font-family: '微软雅黑';
    top: 104px;
    border: 1px solid #90af6b;
    font-weight: bold;
}
.yinc-5{
    width: 34px;
    width: 100%;
    font-size: 15px;
    color: #90af6b;
    text-align: center;
    line-height: 34px;
    position: absolute;
    font-family: '微软雅黑';
    top: 140px;
    border: 1px solid #90af6b;
    font-weight: bold;
}
.yinc-6{
    width: 34px;
    width: 100%;
    font-size: 15px;
    color: #90af6b;
    text-align: center;
    line-height: 34px;
    position: absolute;
    font-family: '微软雅黑';
    top: 176px;
    border: 1px solid #90af6b;
    font-weight: bold;
}
.yinc-7{
    width: 34px;
    width: 100%;
    font-size: 15px;
    color: #90af6b;
    text-align: center;
    line-height: 34px;
    position: absolute;
    font-family: '微软雅黑';
    top: 212px;
    border: 1px solid #90af6b;
    font-weight: bold;
}
.yinc-8{
    width: 34px;
    width: 100%;
    font-size: 15px;
    color: #90af6b;
    text-align: center;
    line-height: 34px;
    position: absolute;
    font-family: '微软雅黑';
    top: 248px;
    border: 1px solid #90af6b;
    font-weight: bold;
}
.yinc-9{
    width: 34px;
    width: 100%;
    font-size: 15px;
    color: #90af6b;
    text-align: center;
    line-height: 34px;
    position: absolute;
    font-family: '微软雅黑';
    top: 284px;
    border: 1px solid #90af6b;
    font-weight: bold;
}
/* 图片 */
.jd-img{
    height: 50px;
    width: 100%;
    position: absolute;
    top: 60px;
}
/* 文字 */
.writ{
    height: 140px;
    width: 100%;
    position: absolute;
    top: 110px;
}
.writ-writ{
    height: 100px;
    width: 90%;
    font-size: 14px;
    color: #808080;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: 36px;
    left: 5%;
}
/* 小图标 */
.little{
    height: 280px;
}
/* 结尾 */
.jiewei{
    height: 261px;
    width: 100%;
    position: absolute;
    top: 720px;
    left: 0;
}
.jiewei img{
    width: 100%;
    height: 261px;
}
/* 结尾 */